*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 80px auto;
   
}
.Header{
    display: flex;
    align-items: center;
}
.Header-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.Header-filter{
    display: flex;
    margin-left: auto;
}
.Header-filter ul{
    display: flex;
    
}
.Header-filter li{
    padding-left: 30px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.Header-filter li a {
    text-decoration: none;
    color: grey;
}
.Header-filter ul li a:hover{
    color: orange;
}
.Content-left{
    max-width: 870px;
    display: flex;
    flex-wrap: wrap;

}
.Content-first{
    max-width: 840px;
    display: flex;
}
.bright{
    margin-top: 30px;
    max-width: 300px;
    font-size: 3em;
    font-weight: bold;
}
.promise{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 100px;
    font-size: 1em;
    color: grey;
}
.promise .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #160840;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
}
.content{
    display: flex;
    margin-top: 50px;
    max-width: 1200px;
}
.Content-right{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #160840;
    color: #fff;
}
h1{
    margin-top: 20px;
    margin-left: 20px;
    color: orange;
}
hr{
    margin-top: 30px;
    width: 290px;
    height: 1px;
    background-color: #fff ;
}
.hydrogen{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5em;
}
.hydrogen:hover{
    color: orange;
}
small{
    margin-top: 10px;
    margin-left: 20px;
    opacity: .5;
}